name: Build release
on:
  workflow_dispatch:

jobs:
  build:
    name: Build release
    runs-on: ubuntu-24.04
    env:
      CCACHE_COMPILERCHECK: "%compiler% -dumpmachine; %compiler% -dumpversion"
      CCACHE_NOHASHDIR: "true"
      CCACHE_HARDLINK: "true"
    steps:
    - uses: actions/checkout@v4
    - name: Remove unused packages
      uses: jlumbroso/free-disk-space@main
      with:
        tool-cache: true
        android: false
        dotnet: true
        haskell: true
        large-packages: true
        docker-images: true
        swap-storage: false
     
    - name: Setup Dep
      run: |
          cd $HOME
          sudo apt update
          sudo apt install -y \
          build-essential cmake ninja-build python3 \
          libxml2-dev zlib1g-dev libedit-dev libncurses5-dev
          git clone https://github.com/llvm/llvm-project.git
          cd llvm-project
          git checkout llvmorg-18.1.8
          
    - name: Build llvm
      run: |
          cd $HOME/llvm-project
          mkdir build
          cd build
          cmake -G Ninja ../llvm \
          -DLLVM_ENABLE_PROJECTS="clang;clang-tools-extra;lld;compiler-rt" \
          -DLLVM_ENABLE_RUNTIMES="libcxx;libcxxabi;libunwind" \
          -DCMAKE_BUILD_TYPE=Release \
          -DLLVM_BUILD_STATIC=ON \
          -DLLVM_BUILD_LLVM_DYLIB=OFF \
          -DBUILD_SHARED_LIBS=OFF \
          -DLLVM_TARGETS_TO_BUILD="AArch64;ARM;X86" \
          -DLLVM_ENABLE_RTTI=ON \
          -DLLVM_ENABLE_EH=ON \
          -DLLVM_ENABLE_ASSERTIONS=OFF
          ninja -j8
 
